.profile-img {
    margin-top: -4.375rem !important;
    
}
.comment-attagement {
    position: absolute;
    left: auto;
    right: 1.875rem;
    font-size: 1.25rem;
}
.iq-main .iq-content {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.iq-main {
    position: relative;
    margin-bottom: 2.5rem;
}